<%= user_jobs()%>

<p id="notice"><%= notice %></p>



  <form class="ui form">
    <div class="threes fields">
      <div class="ui fluid search selection dropdown" style="max-width:200px;">
          <div class="default text">Select Size</div>
            <input type="hidden" name="size" class="form-control"> 
          <div class="menu">
            <div class="item" data-value="Small"><i class="envelope icon"></i>Small</div>
            <div class="item" data-value="Medium"><i class="box icon"></i>Medium</div>
            <div class="item" data-value="Large"><i class="motorcycle icon"></i>Large</div>
            <div class="item" data-value="Huge"><i class="space shuttle icon"></i>Huge</div>
          </div>
      </div>

        <div class="ui fluid search selection dropdown" style="max-width:200px;">
          <div class="default text">Urgency</div>
            <input type="hidden" name="urgency" class="form-control" >         
            <div class="menu">
              <div class="item" data-value="Very Urgent"><i class="shipping fast icon"></i>Very Urgent</div>
              <div class="item" data-value="Not Urgent"><i class="truck icon"></i>Not Urgent</div>
            </div>
        </div>
      
  
      <input type="submit" value="Filter" class="ui blue button" >

    </div>
    
  </form>


<h1>Jobs</h1>

<div class="ui cards" style="padding: 1.5rem;">
  <% @jobs.each do |job| %>
    <div class="card" style="padding: 0rem;">
      <div class="content">
        <%=tag_colour(job)%>
        <div class='ui tiny statistics'>
          <div class="statistic">
            <div class="value">
              <i class="dollar icon"></i> <%= job.charge%>
            </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= distance(job) %> km
              </div>
              <div class="label">
                <%= job.pick_up.city %>
              </div>
            </div>
            </div>
            <%=pending(job)%>
            <div class='ui tiny statistics'>
            <div class="statistic">
              <div class="value">
                <i class="box icon"></i> <%= job.size%>
              </div>
            </div>
          </div>
          
      </div>
          <%= link_to 'Show', job , class: "ui bottom attached positive button"%>
    </div>
  <% end %>
</div>

