<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="size">Size:</label>
        <input type="text" name="size" class="form-control">
      </div>
      <div class="form-group">
        <label for="urgency">Urgency:</label>
        <input type="text" name="urgency" class="form-control">
      </div>
      <input type="submit" value="Filter" class="btn btn-default">
    </form>
  </div>
</div>



<h1>Jobs</h1>

<div class="ui cards" style="padding: 1.5rem;">
  <% @jobs.each do |job| %>
    <div class="card" style="padding: 0rem;">
      <div class="content">
        <%=tag_colour(job)%>
        <div class='ui tiny statistics'>
          <div class="statistic">
            <div class="value">
              <i class="dollar icon"></i> <%= job.charge%>
            </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= distance(job) %> km
              </div>
              <div class="label">
                <%= job.pick_up.city %>
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <i class="box icon"></i> <%= job.size%>
              </div>
            </div>
          </div>
          
      </div>
          <%= link_to 'Show', job , class: "ui bottom attached positive button"%>
    </div>
  <% end %>
</div>
