<p id="notice"><%= notice %></p>



<div class="ui card">
  <a class="image" href="#">
    <%=image_tag @user.profile_pic_url(:medium) %>
  </a>
  <div class="content">
    <a class="header" href="#"><%= @user.full_name %></a>
    <div class="meta">
      <a>Rating:<%= @user.rating %></a>
    </div>
  </div>
</div>

<%= visiter_check(@user)%>

