<h1>Welcome to Hamba <%=@user.first_name if @user%></h1>

<div class="ui cards" style="padding: 1.5rem;">
  <% @jobs.each do |job| %>
    <div class="card" style="padding: 0rem;">
      <div class="content">
        <%=tag_colour(job)%>
        <div class='ui tiny statistics'>
          <div class="statistic">
            <div class="value">
              <i class="dollar icon"></i> <%= job.charge%>
            </div>
            </div>
            <div class="statistic">
              <div class="value">
                <%= distance(job) %> km
              </div>
              <div class="label">
                <%= job.pick_up.city %>
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                <i class="box icon"></i> <%= job.size%>
              </div>
            </div>
          </div>
          
      </div>
          <%= link_to 'Show', job , class: "ui bottom attached positive button"%>
    </div>
  <% end %>
</div>

