<div class="ui container">
  <div class= 'ui middle aligned center aligned grid'>
    <div class = 'column'> 
      <div class = 'ui center aligned header'>
        <h2>Log in</h2>
      </div>
      <%= form_for(resource, :html => {:class => 'ui form'},as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class='ui stacked segemnt'>
        
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Email",autocomplete: "email" %>
        </div>
        
        <div class="field">
          <%= f.label :password %><br />   
          <%= f.password_field :password,  placeholder: "Password",autocomplete: "off" %>
        </div>   

        <div id = 'checkbox'>
          <% if devise_mapping.rememberable? -%>
            <div class="ui checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
        </div>
        
        <div class="actions">
          <%= f.submit "Log in", class: "ui fluid positive button" %>
        </div>

        <%= render "devise/shared/links" %>
      <% end %>
    </div>
      </div> 
</div>  



