<!DOCTYPE html>
<html>
  <head>
    <title>Hamba</title>
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to('Logout', destroy_user_session_path,method: :delete) if user_signed_in? %>
    <%= link_to('Login', new_user_session_path,method: :get) if !user_signed_in? %>
    <%= link_to "Create new job", new_job_path%>
    <%= link_to "View Jobs", jobs_path%>
    <%= admin_menu() %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
</html>
