<!DOCTYPE html>
<html>
  <head>
    <title>Hamba</title>
    <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  </head>

  <body>
    <div class="ui menu">
      <%= link_to "New job",new_job_path, class:'item'%>
      <%= link_to "View Jobs",jobs_path, class:'item'%>
      <div class="right menu">
      <%= link_to("Profile", user_path(current_user), class:'item')  if current_user  %>
      <%= link_to('Logout', destroy_user_session_path,method: :delete, class:'item') if user_signed_in? %>
      <%= link_to('Login', new_user_session_path,method: :get , class:'item') if !user_signed_in? %>
      </div>
    </div>
  
    <%= admin_menu() %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

  var
    $headers     = $('body > h3'),
    $header      = $headers.first(),
    ignoreScroll = false,
    timer
  ;

  // Preserve example in viewport when resizing browser
  $(window)
    .on('resize', function() {
      // ignore callbacks from scroll change
      clearTimeout(timer);
      $headers.visibility('disable callbacks');

      // preserve position
      $(document).scrollTop( $header.offset().top );

      // allow callbacks in 500ms
      timer = setTimeout(function() {
        $headers.visibility('enable callbacks');
      }, 500);
    })
  ;
  $headers
    .visibility({
      // fire once each time passed
      once: false,

      // don't refresh position on resize
      checkOnRefresh: true,

      // lock to this element on resize
      onTopPassed: function() {
        $header = $(this);
      },
      onTopPassedReverse: function() {
        $header = $(this);
      }
    })
  ;
});
</script>
</html>
